<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name ="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
	</configSections>
	<modules>
		<module assemblyFile="AuthorizationModule.dll"  moduleType="AuthorizationModule.AuthorizationModule, AuthorizationModule, Version = 1.0.0.0, Culture=neutral, PublicKeyToken=null"
				moduleName="AuthorizationModule" startupLoaded="True"/>
	</modules>
</configuration>